/* debug */
.debug [class*='col-']{
  background-color: blue;
  height: 300px;
  border: 1px solid red;
}
.row .row [class*="col-"]{
  border: 3px solid green;
  background-color: yellow;
}
.debug .h_500{
  height: 500px;
}
.debug .h_400{
  height: 400px;
}
.debug .h_300{
  height: 300px;
}
section{

}
/* Header */
header{
  background-image: url("../img/bg-home-1.jpg");
}
nav img {
  width: 200px;
}
nav .btn_nav{
  color:#0066FF;
  background-color: transparent;
  border: 1px solid #0066FF;
  padding: 5px;
}
#jumbotron h1{
  font-size: 60px;
  font-weight: bold;
}
._square{
  padding: 5px;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #0067FF;
  margin: 50px 0;
}
._square .btn_create{
  background-color: #0067FF;
  color: white;
}
._square .btn_google{
  background-color: transparent;
  border:1px solid #0067FF;
  color: grey;
}
._square .btn_deploy{
  width: 80%;
  margin-bottom: 3px;
}
#partners img{
  width: 100%;
  vertical-align: middle;

}
#deploy .lista{
  margin: 20px 0;
  border-left: gray 1px solid;
}
#screenshot img{
  display: inline-block;
  width: 100%;
}
.h_100{
  height: 150px;
  line-height: 150px;
}
footer{
  color: white;
}
footer .btn_create{
  background-color: white;
  color: #0067FF;
}
